name: Publish Package to npmjs
on:
  branches: [main]
  # release:
  #   types: [created]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'yarn'
      - run: yarn install --immutable --immutable-cache --check-cache
      - run: yarn lint

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'yarn'
      - run: yarn install --immutable --immutable-cache --check-cache
      - run: yarn test

  release:
    needs: [lint, tests]
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '16'
      - run: npm ci
      - run: npm test
      - name: Release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release --branches main

  # build:
  #   needs: [lint, tests]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     # Setup .npmrc file to publish to npm
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: '16.x'
  #         cache: 'yarn'
  #         registry-url: 'https://registry.npmjs.org'
  #     - run: yarn install --immutable --immutable-cache --check-cache
  #     - run: yarn build
  #     - run: npm publish
  #       env:
  #         NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
